<body>
  <h1>All tasks</h1>
  <ul>
    @foreach (var task in Model) {
      <li><a href="/tasks/@task.GetId()">@task.GetDescription()</a></li>
    }
  </ul>
  <a href="/tasks/new">Add new task</a>
</body>
