<h1>Here is your list of tasks:</h1>
<ul>
  @foreach(string task in Model)
  {
    <li>@task</li>
  }
</ul>
<form action="/">
  <button type="submit" name="button">Add another task</button>
</form>
<form action="/tasks_cleared" method="post">
  <button type="submit" name="button">Clear All Tasks</button>
</form>
